#slide-start {
background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6792.jpg");
}

#slide-intro1 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6713.jpg");
}

#slide-intro2 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_2279.JPG");
}

#slide-intro3 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6715.jpg");
}

#slide-intro4 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6789.jpg");
}

#slide-intro5 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6710.jpg");
}

#slide-intro6 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_7084.JPG");
}

#slide-intro7 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6689.jpg");
}

#slide-intro8 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_2301.JPG");
}

#slide-intro9 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6726.jpg");
}

#slide-intro10 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6755.jpg");
}

#slide-intro11 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_2302.JPG");
}

#slide-intro12 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_2308.JPG");
}

#slide-intro13 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_2284.JPG");
}

#slide-intro14 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_7049.JPG");
}

#slide-intro15 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_2296.JPG");
}

#slide-intro16 {
    background-image: url("http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/25/IMG_6690.jpg");
}

.mejs-container {
    position: relative;
}

.arrow {
    height:97px;
}
#headline {
    font-family: 'Hind', sans-serif;
    font-size: 5.5em;
    text-align: center;
}
#subhead {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#subtext {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    font-size: 1.2em;
}
#subtexta {
    font-family: 'Roboto', sans-serif;
    vertical-align: right;
    margin-left: 80px;
    margin-top: -300px;
    max-height: 1200px;
    font-size: 1.2em;
}
#subtextb {
    font-family: 'Roboto', sans-serif;
    vertical-align: right;
    margin-right: 70px;
    margin-top: -500px;
    max-height: 1200px;
    font-size: 1.2em;
}
#subtextz {
    font-family: 'Roboto', sans-serif;
    vertical-align: right;
    margin-right: 70px;
    margin-top: -300px;
    max-height: 1200px;
    font-size: 1.2em;
}
.btn.btn-go {
    font-family: 'Yanone Kafeesatz', sans-serif;
    font-size: 1.5em;
}
#endplate {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}
#creds{
    font-family: 'Oswald', sans-serif;
}